extends ../layouts/default
block extrahead
  link(href='/styles/fullcalendar.min.css', rel='stylesheet')
  link(href='/styles/fullcalendar.print.min.css', rel='stylesheet', media='print')
block intro    
    section#page-breadcrumb
      .vertical-center.sun
        .container
          .row
            .action
              .col-sm-12
                h1.title= (profile && profile.isStudent ? 'Student' : 'Teacher') + "'s calendar"
                p= (profile && profile.isStudent ? 'Check it out!' : 'Book your classes!')
    // /#action
block content    
    section#calendar-section
      .container
        .row
          if profile
            .col-md-2
              .user-photo
                img.img-responsive(src=profile.photo.url, alt="User's photo")
              .media-body
                .timezone
                  i.fa.fa-globe
                  | #{(profile.timezone ? profile.timezone.text : 'not set')}
                  br
                  i.fa.fa-globe
                  | local:
                  span
                .user-name
                  a(href='/user/' + profile.id)= profile.name.full
            .col-md-8
              #calendar
            .col-md-2
              .media-body.credits
                i.fa.fa-money
                | Total credits: 
                span= (!isNaN(parseFloat(user.credits)) ? user.credits : 'not set')
                h3 Help Section
                p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi.          
          else
            .col-md-2 No data.              
    // /#map-section
    .modal.fade#bookClass(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Book class
          .modal-body.save-event
            .book-event
              p
                strong Your current credits balance is: 
                span.curr-balance
              p
                strong This class will be scheduled to 
                  span.date
                  | :
                br
                | from 
                strong: span.start
                |  to 
                strong: span.end
              p
                strong This will cost you: 
                spans.cost
              p
                strong 
                  | Your balance in credits will be: 
                span.balance
            .problem.hidden
              p There was a problem
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
            button.btn.btn-primary(type='button', data-dismiss='modal', onclick='saveCalendarEvent()') OK
    .modal.fade#infoClass(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Class info
          .modal-body.save-event
            .info-event
              p
                strong This class is scheduled to 
                  span.date
                  | :
                br
                | from 
                strong: span.start
                |  to 
                strong: span.end              
              .panel.panel-default#panel-participants
                // Default panel contents
                .panel-heading Participants
                // Table
                table#participants.table
              p
                strong Status: 
                span.state
            .problem.hidden
              p There was a problem
          .modal-footer
            button.btn.btn-danger.unbook(type='button', data-toggle="modal", onclick="confirmUnbook()") Unbook
            if user.isTeacher || user.isAdmin
              button.btn.btn-success.accept(type='button', data-toggle="modal", onclick="this.disabled = true;updateEvent({id:calendarEvent.id, state:'accepted'}, updateInfo);") Accept
            button.btn.btn-primary(type='button', data-dismiss='modal') OK            
    .modal.fade#confirmExclusion(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Cancel class
          .modal-body.save-event
            .info-event
              p
                strong Are you sure you want to cancel this class?
              .alert.alert-info(role='alert')
                span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
                span.sr-only Error:
                span.message
          .modal-footer
            button.btn.btn-success(type='button', data-dismiss='modal') Cancel
            button.btn.btn-danger(type='button', onclick="updateEvent({id:calendarEvent.id, state:'suspended'}, updateInfo);$('.modal.in').modal('hide');") Unbook        
        // /.modal-content
      // /.modal-dialog
    // /.modal    
    script.
      var userid = '#{userid}';
      var timezone = !{JSON.stringify(timezone)};
      var qid = '#{qid}';
      var startBusinessHours = '#{startBusinessHours}';
      var endBusinessHours = '#{endBusinessHours}';
      var isStudent = #{user.isStudent};
      var isTeacher = #{user.isTeacher};
      var isAdmin = #{user.isAdmin};
      var curCredits = #{user.credits ? user.credits : 0};
      var owner = !{JSON.stringify(owner)};
append footer
  script(src='/js/calendar/lib/moment.min.js')
  script(src='/js/fullcalendar.min.js')
  script(type="text/javascript" src="/js/calendar.js")