extends ../layouts/default
include ../mixins/book-event-student
include ../mixins/book-event-teacher
include ../mixins/info-class-student
include ../mixins/info-class-teacher

block extrahead
  link(href='/styles/fullcalendar.min.css', rel='stylesheet')
  link(href='/styles/fullcalendar.print.min.css', rel='stylesheet', media='print')
block intro    
    section#page-breadcrumb
      .vertical-center.sun
        .container
          .row
            .action
              .col-sm-12
                h1.title= (profile && profile.isStudent ? 'Student' : 'Teacher') + "'s calendar"
                p= (profile && profile.isStudent ? 'Check it out!' : 'Book your classes!')
    // /#action
block content    
    section#calendar-section
      .container.show-help
        .row
          if profile
            .col-md-2.show-help
              .user-photo
                img.img-responsive(src=profile.photo.url, alt="User's photo")
              .media-body
                .timezone
                  i.fa.fa-globe
                  | #{(profile.timezone ? profile.timezone.text : 'not set')}
                  br
                  i.fa.fa-globe
                  | local:
                  span
                .user-name
                  a(href='/user/' + profile.id)= profile.name.full
            .col-md-8.show-help
              #calendar.show-help(data-help=!owner.isStudent ? 4 : 0 )
            .col-md-2.show-help
              .media-body.credits
                i.fa.fa-money
                | Total credits: 
                span= (!isNaN(parseFloat(user.credits)) ? user.credits : 'not set')
                h3 Help Section
                p.help-text          
          else
            .col-md-2 No data.              
    // /#map-section
    .modal.fade#bookClass(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Book class
          .modal-body.save-event
            .book-event
              if user.isStudent
                +book-event-student()
              else
                +book-event-teacher()
            .problem.hidden
              p There was a problem
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
            button.btn.btn-primary(type='button', data-dismiss='modal', onclick='saveCalendarEvent()') OK
    .modal.fade#infoClass(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Class info
          .modal-body.save-event
            .info-event
              if user.isStudent
                +info-class-student(user)
              else
                +info-class-teacher()
            .problem.hidden
              p There was a problem
          .modal-footer
            //- if owner.isStudent
              p.small= 'isStudent: ' + user.isStudent + ' |qid: ' + qid + ' |owner.id: ' + owner.id
            a.btn.btn-info.teacher-calendar(type='button', data-toggle="modal") Go to calendar
            button.btn.btn-danger.unbook(type='button', data-toggle="modal", onclick="confirmUnbook()") Unbook
            if user.isTeacher || user.isAdmin
              button.btn.btn-success.accept(type='button', data-toggle="modal", onclick="this.disabled = true;updateEvent({id:calendarEvent.id, state:'accepted'}, updateInfo);") Accept
            button.btn.btn-primary(type='button', data-dismiss='modal') OK            
    .modal.fade#confirmExclusion(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Cancel class
          .modal-body.save-event
            .info-event
              p
                strong Are you sure you want to cancel this class?
              .alert.alert-info(role='alert')
                span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
                span.sr-only Error:
                span.message
          .modal-footer
            button.btn.btn-success(type='button', data-dismiss='modal') Cancel
            button.btn.btn-danger(type='button', onclick="updateEvent({id:calendarEvent._id, state:'canceled'}, updateInfo);$('.modal.in').modal('hide');") Unbook        
        // /.modal-content
      // /.modal-dialog
    // /.modal    
    script.
      var userid = '#{userid}';
      var timezone = !{JSON.stringify(timezone)};
      var qid = '#{qid}';
      var startBusinessHours = '#{startBusinessHours}';
      var endBusinessHours = '#{endBusinessHours}';
      var isStudent = #{user.isStudent};
      var isTeacher = #{user.isTeacher};
      var isAdmin = #{user.isAdmin};
      var curCredits = #{user.credits ? user.credits : 0};
      var owner = !{JSON.stringify(owner)};
append footer
  script(src='/js/calendar/lib/moment.min.js')
  script(src='/js/fullcalendar.min.js')
  script(type="text/javascript" src="/js/calendar/helpMessages.js")
  script(type="text/javascript" src="/js/calendar.js")
