extends ../layouts/default
block extrahead
  link(href='/styles/fullcalendar.min.css', rel='stylesheet')
  link(href='/styles/fullcalendar.print.min.css', rel='stylesheet', media='print')
block intro    
    section#page-breadcrumb
      .vertical-center.sun
        .container
          .row
            .action
              .col-sm-12
                h1.title= (profile.isTeacher ? 'Teacher' : 'Student') + "'s calendar"
                p= (profile.isTeacher ? 'Book your classes!' : 'Check it out!')
    // /#action
block content    
    section#calendar-section
      .container
        .row
          .col-md-2
            .user-photo
              img.img-responsive(src=profile.photo.url, alt="User's photo")
            .media-body
              .timezone
                i.fa.fa-globe
                | #{(profile.timezone ? profile.timezone.text : 'not set')}
              .user-name
                a(href='/user/' + profile.id)= profile.name.full
            .panel.panel-default#panel-participants
              // Default panel contents
              .panel-heading Participants
              // Table
              table#participants.table
          .col-md-8
            #calendar
          .col-md-2
            .media-body
              h3 Help Section
              p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi.            
    // /#map-section
    .modal.fade#myModal(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Modal title
          .modal-body
            p One fine body…
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Save changes
        // /.modal-content
      // /.modal-dialog
    // /.modal    
    script.
      var userid = '#{userid}';
      var uid = '#{uid}';
append footer
  script(src='/js/calendar/lib/moment.min.js')
  script(src='/js/fullcalendar.min.js')
  script(type="text/javascript" src="/js/calendar.js")