extends ../layouts/default
block extrahead
  link(href='/styles/fullcalendar.min.css', rel='stylesheet')
  link(href='/styles/fullcalendar.print.min.css', rel='stylesheet', media='print')
block intro    
    section#page-breadcrumb
      .vertical-center.sun
        .container
          .row
            .action
              .col-sm-12
                h1.title= (profile && profile.isStudent ? 'Student' : 'Teacher') + "'s calendar"
                p= (profile && profile.isStudent ? 'Check it out!' : 'Book your classes!')
    // /#action
block content    
    section#calendar-section
      .container
        .row
          if profile
            .col-md-2
              .user-photo
                img.img-responsive(src=profile.photo.url, alt="User's photo")
              .media-body
                .timezone
                  i.fa.fa-globe
                  | #{(profile.timezone ? profile.timezone.text : 'not set')}
                  br
                  i.fa.fa-globe
                  | local:
                  span
                .user-name
                  a(href='/user/' + profile.id)= profile.name.full
              .panel.panel-default#panel-participants
                // Default panel contents
                .panel-heading Participants
                // Table
                table#participants.table
            .col-md-8
              #calendar
            .col-md-2
              .media-body.credits
                i.fa.fa-money
                span Total credits: 
                | #{(user.credits ? user.credits : 'not set')}
                h3 Help Section
                p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi.          
          else
            .col-md-2 No data.              
    // /#map-section
    .modal.fade#myModal(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Modal title
          .modal-body
            p One fine body…
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Save changes
        // /.modal-content
      // /.modal-dialog
    // /.modal    
    script.
      var userid = '#{userid}';
      var timezone = !{JSON.stringify(timezone)};
      var qid = '#{qid}';
      var startBusinessHours = '#{startBusinessHours}';
      var endBusinessHours = '#{endBusinessHours}';
      var isStudent = '#{user.isStudent}';
      var owner = !{JSON.stringify(owner)};
append footer
  script(src='/js/calendar/lib/moment.min.js')
  script(src='/js/fullcalendar.min.js')
  script(type="text/javascript" src="/js/calendar.js")