extends ../layouts/default
block intro    
    section#page-breadcrumb
      .vertical-center.sun
        .container
          .row
            .action
              .col-sm-12
                h1.title View the students
                p Know your costumers!
    // /#action
block content    
    section#team
      .container
        .row
          if students 
            ul.media-list
              each student in students                
                li.media
                  .post-comment
                    a.pull-left(href='/user/' + student.id)
                      img.media-object(src=student.photo ? src=student.photo.url : 'http://placehold.it/127x137', alt=student.name.full, width=127)
                    .media-body
                      h3= student.name.full
                      p
                        | #{student.email}
                      ul.nav.navbar-nav.post-nav
                        li.cellphone
                          i.fa.fa-mobile
                          | #{student.cellphone}
                        if user && (student.id == userid || user.isTeacher || user.isAdmin)
                          li
                            a(href='/calendar/'+student.id)
                              i.fa.fa-calendar