include post-bottom
mixin post(post,full)
	div(data-ks-editable=editable(user, { list: 'Post', id: post.id })).col-sm-12.col-md-12
		div.single-blog.single-column
			.post-thumb
				a(href='/blog/post/' + post.slug)
					img(src=post._.image.fit(850,400)).img-responsive
				.post-overlay
					span.uppercase
						a(href='/blog/post/' + post.slug)
							| #{post._.publishedDate.format('D')} 
							br
							small #{post._.publishedDate.format('MMMM')} 
			.post-content.overflow
				h2.post-title.bold
					a(href='/blog/post/' + post.slug)= post.title
				h3.post-author
					a(href='/blog/post/' + post.slug) Posted by #{post.author.name.first}				
				if full
					| !{post.content.brief}
					p.extended!= post.content.extended
				else if post.content.extended
					| !{post.content.brief}
					p: a(href='/blog/post/' + post.slug).read-more Read more...
				.post-bottom.overflow
					ul.nav.navbar-nav.post-nav
						li
							a(href='#', class={disabled: !full}, onclick="lovePost('" + post.id + "'); return false;")
								if !full
									if post.isLoved
										i.fa.fa-heart
									else
										i.fa.fa-heart-o
								else
									i(data-bind="css: lovedChanged")
								if !full
									if post.loved.length == 0 
										| No Love
									else 
										span #{post.loved.length + " Love"}
								else
									span(data-bind="text: loveCountChanged")
						li
							a(href='/blog/post/' + post.slug)
								i.fa.fa-comments
								| #{utils.plural(post.comments, '* Comment')}
				if full
					+post-bottom(post)